@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box1, .box2, .box3 {
    width: 100%; 
    box-sizing: border-box; 

}

.box1 {
    background-image: url('BackgroundColor1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 876px; 
    position: relative; 
    overflow: hidden; 
}

.navigation-container {
    position: absolute;
    top: 20px; 
    left: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap;
}

.logo-container, .features-container {
    display: flex; 
    align-items: center; 
}

.Silicon {
    width: 100px; 
    max-width: 100%; 
    margin-left: 200px;
}

.Features {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    margin-top: -5px;
}

.heading-container {
    position: relative;
    margin: 100px 0 -30px 0; 
}

.h11 {
    font-size: 50px;
    margin: 0; 
    margin-left: 200px;
    margin-top: 200px;
    font-weight: 1000;
    text-shadow: 2px 2px 2px #00000059;
}

.text-container {
    color: rgb(114, 114, 114);
    margin-top: 0px;
    margin-left: 200px;
}

.p1 {
    margin-top: 50px;
    margin-left: 180px;
}

.app-image {
    margin-top: 20px;
    width: 200px;
    max-width: 100%; 
}

.phone-container {
    position: absolute;
    bottom: -250px; 
    right: 0; 
    width: 400px; 
    height: auto; 
    margin-right: 600px;
}

.phone {
    width: 100%; 
    height: auto; 
}

.phone-container-new {
    position: absolute;
    bottom: -10px; 
    right: 0; 
    width: 400px; 
    height: auto; 
    margin-right: 370px;
}

.phone-new {
    width: 100%; 
    height: auto; 
}

.DarkMode-container {
    position: absolute;
    top: 25px; 
    right: 20px; 
    width: 120px; 
    height: auto; 
    margin-right: 580px;
}

.DarkMode {
    width: 100%; 
    height: auto; 
}

.SignUp-container {
    position: absolute;
    top: 20px; 
    right: 20px; 
    width: 120px; 
    height: auto; 
    margin-right: 430px;
}

.SignUp {
    width: 100%; 
    height: auto; 
}

.Discover-container {
    position: absolute;
    bottom: 80px; 
    left: 220px; 
    width: 120px; 
    height: auto; 
}

.Discover {
    width: 100%; 
    height: auto; 
}



#Logos {
    display: block;
}

.logocontainer {
        display: flex; 
        justify-content: center; 
        align-items: center;
        gap: 20px;
}

.Logo-box {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.PhoneP2 {
    margin-top: 100px;
    margin-left: 300px;
}

.h22 {
    margin-left: 900px;
    margin-top: -680px;
    font-size: 50px;
}

.Text-container2 {
    color: rgb(155, 155, 155);
    margin-left: 900px;
    margin-top: -30px;
}



.Logo-EP {
    Margin-left: 900px;
    Margin-top: 80px;
}

.Logo-CS {
    Margin-left: 900px;
    Margin-top: 80px;
}

.Logo-RC {
    Margin-left: 900px;
    Margin-top: 80px;
}

.Logo-DS {
    Margin-left: 1200px;
    Margin-top: -390px;
}

.Logo-S247 {
    Margin-left: 1200px;
    Margin-top: 80px;
}

.Logo-TS {
    Margin-left: 1200px;
    Margin-top: 80px;
}





.h33 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p3 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
    
}

.h34 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p4 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
}

.h35 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p5 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
}

.h36 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p6 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
}

.h37 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p7 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
}

.h38 {
    margin-left: 80px;
    margin-top: -65px;
    font-size: 13px;
    font-weight: 1000;
}
.p8 {
    margin-top: 10px;
    margin-left: 80px;
    font-size: 10px;
    color: rgb(167, 167, 167)
}

.box2 {
    background-color: #edecff; 
    max-height: 1200px; 
    margin-top: 400px; 
    position: relative;
}
.h12 {
    padding: 100px;
    text-align: center;
}

.PhoneP31 {
    margin-top: 100px;
    margin-left: 300px;
}

.PhoneP32 {
    position:absolute;
    margin-top: -670px;
    margin-left: 775px;
  
}

.PhoneP33 {
    position:absolute;
    margin-top: -670px;
    margin-left: 1250px;
}

.h23 {
    text-align:center;
}
.p9 {
    text-align:center;
    color: rgb(155, 155, 155);
}

.h24 {
    font-size: 30px;
    margin-left: 300px;
    margin-top: 350px;
    font-weight: 1000;
}



.CheckBox {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 20px; 
    margin-left: 300px;
}

.CheckBox > div {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.Checkbox1, .Checkbox2, .Checkbox3 {
    margin-right: 10px; 
    
}

.p101, .p102, .p103 {
    margin-left: 10px;
}

.LearnMore {
   margin-left: 300px;
   margin-top: 20px;
}


.Forecast {

    margin-top: -450px; 
    margin-left: 1000px;
}

.Contacts {

    margin-top: 200px; 
    margin-left: 300px;
}

.h25 {

    margin-top: -450px; 
    margin-left: 910px;
    font-weight: 1000;
    Font-size: 30px;
}

.text-container3 {
    color: rgb(155, 155, 155);
    margin-left: 915px;
    margin-top: 15px;
}

.text-container4 {
    color: rgb(155, 155, 155);
    margin-left: 1200px;
    margin-top: -160px;
}

.LearnMore2 {
    margin-left: 915px;
    margin-top: 25px;
}

.box3 {
    background-color: #edecff; 
    min-height: 542px; 
    margin-top: 200px; 
    position: relative;
}

.h13 {
    padding: 20px;
    font-weight: 1000;
    font-size: 40px;
    margin-top: 70px;
    margin-left: 50px;
}



.white-box-container {
    padding: 20px;
    display: flex;
    gap: 20px; 
    justify-content: flex-end; 
    width: 100%;
    max-width: 900px; 
    margin-left: 600px;
    margin-top: -120px;
}

.white-box {
    width: 416px;
    height: 329px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 20px; 
    display: flex; 
    align-items: center; 
}

.white-box img {
    position: absolute;
}

.top-left {
    top: 50px;
    left: 40px;
    width: 80px; 
}

.person-info {
    display: flex; 
    align-items: center; 
    margin-left: 100px; 
}

.person-image {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin-left: 10px; 
}

.bottom-left {
    width: 50px; 
    margin-top: 200px;
    margin-left: -90px;
}

.name {
    position:absolute;
    font-weight: bold;
    font-size: 16px; 
    margin: 0; 
    margin-left: -30px;
    margin-top: 200px;
}

.title {
    font-size: 12px; 
    color: lightgray;
    margin: 0; 
    margin-left: -30px;
    margin-top: 220px;
}

.pFanalb {
 
    margin-top: -30px; 
    margin-bottom: 0; 
    margin-left: -110px;
    font-size: 18px; 
    color: #727272; 
}

.quote-container {
    position:absolute;
    display: flex; 
    gap: 460px; 
    margin-top: -360px; 
    margin-left: -420px;
}

.quote {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.quote img {
    width: 50px; 
    height: auto; 
}

.h26 {
    font-size: 30px;
    margin-left: 200px;
    margin-top: 200px;
    font-weight: 1000;
}

.p104 {
    margin-top: 20px;
    margin-left: 200px;
    color: rgb(97, 97, 97);
}

.white-box-container2 {
    display: flex; 
    gap: 20px; 
    margin-left: 200px; 
    margin-top: 50px; 
}


.contact-container {
    width: 196px; 
    height: 165px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding: 10px;
    border: 1px solid black; 
    border-radius: 5px; 
    margin-bottom: 15px; 
}

.text-container5 {
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 0; 
    font-size: 16px; 
}

.text-container6 {
    margin-left: 20px;
    color: blue; 
    font-size: 18px; 
    margin-top: 20px; 
    display: flex; 
    align-items: center; 
}

.text-container7 {
    margin-left: 20px;
    color: green; 
    font-size: 18px; 
    margin-top: 20px; 
    display: flex; 
    align-items: center; 
}

.bluearrow, .greenarrow {
    margin-left: 8px; 
    height: 16px; 
}

.top-left2 {
    position: absolute; 
    margin-top: 30px;
    margin-left: 20px;
    width: 28px; 
}

.white-box-container3 {
    clear: both; 
    margin-top: -380px; 
    margin-right: 150px;
}

.white-box3, .white-box4 {
    width: 730px;
    height: 105px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    float: right; 
    margin-left: 20px; 
}

.white-box4 {
    width: 730px;
    height: 180px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    position: relative;
}

.h39 {
    font-size: 20px; 
    margin-bottom: 10px; 
}

.p105 {
    font-size: 14px; 
    line-height: 1.5; 
    color: #727272;

}

.arrow-image2 {
    position: absolute;
    right: 10px; 
    bottom: 100px; 
    width: 70px;
}

.arrow-image {
    position: absolute;
    right: 20px; 
    bottom: 35px; 
    width: 50px; 
 
}


.white-box3, .white-box4 {

    position: relative;
    margin-left: 1000px; 
    margin-top: 0px; 
    
}
.text-container {
    font-size: 16px;
    margin-left: 20px;
}

.small-box {
    position: absolute;
    width: 1300px;
    height: 220px;
    background-color: #edecff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    margin-top: 1000px; 
    margin-left: 260px;
}

.left-content {
    margin-left: 200px;
    display: flex;
    align-items: center;
}

.centered-text {
    margin-left: 10px; 
    font-size: 18px;
}

.right-content img {
    margin-right: 150px;
    width: 500px; 
    height: auto;
}


